@font-face {
    font-family: 'C-delgada';
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'C-delgada-italic';
    src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}